body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D6EDD3;
    color: #fff;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  h1 {
    color: #3e3e3e;
  }
  
  #task_count {
    color: #3e3e3e;
  }
  
  input {
    padding: 8px;
    margin: 8px 0;
    color: #3e3e3e;
    border: 1px solid #DACCE2;
    border-radius: 5px;
  }

  input:focus{
    outline: none;
  }
  
  button {
    padding: 8px;
    cursor: pointer;
    background-color: #ceb2de;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  

  .error_message{
    position: absolute;
    display: none;
    width: 60%;
    text-align: center;
    padding: 20px;
    background-color: #e86565;
    border-radius: 5px;
    right: 0;
    bottom: 10vh;
    left: 0;
    margin: 0 auto;
    cursor: pointer;
  }

  .todo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 8px 0;
    padding: 8px;
    background-color: #DACCE2;
  }
  
  .todo__state {
    position: absolute;
    left: 3%;
    transform: scale(1.8);
  }
  
  .todo__state:checked + .todo {
    background-color: #1db809;
  }
  
  .todo__text {
    flex-grow: 1;
    color: #fff;
  }
  
  .list-item_button {
    background-color: #e85555;
    color: #fff;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(227, 73, 73, 0.5);
  }

  @media only screen and (max-width: 600px) {
    .container {
        margin: 20px auto;
        padding: 0 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    #task_count {
        font-size: 0.8em;
    }

    input {
        width: calc(100% - 16px);
        margin: 8px 0px;
        box-sizing: border-box;
    }

    button {
        width: calc(100% - 16px);
        box-sizing: border-box;
    }

    .error_message {
        width: 100%;
        box-sizing: border-box;
    }

    .todo {
        font-size: 0.9em;
        padding: 6px;
    }

    .todo__state {
      left: -40%;
        transform: scale(1.5);
    }

    .list-item_button {
        width: auto;
    }
}

  